body {
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 4px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(300deg, #070708 0%, #203A43 2.96%, #1a1e1f 100%);
}

nav {
    width: 100%;
    height: 60px;
    float: left;
    background: #bdc3c7;
    margin-left: 0px;
    margin-bottom: 10px;
    border: 5px solid #bdc3c7;
}
nav a img {
    padding-top: 5px;
    float: left;
    width: 100px;
    height: 50px;
    object-fit: cover;
}
#menu {
    color: #010107 !important;
    padding:20px;    
    text-decoration: none;
    font-size: 20px;
  
}

*{
    margin: 0px;
    border: 0px;
 
}
body{
    background-color: grey;
   

}
#contenedor{
    width: 95%;
    margin: 30px auto;
    background-color: grey;
    border: 5px solid #bdc3c7;
}

header h1{
background-color:grey;
text-align: center;
color:  rgb(219, 241, 20);
} header img{
    width: 100%;
vertical-align: bottom;
height: 450px;
}

main{
    display: flex;
}

aside{
    width: 25%;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
    border: 5px solid #bdc3c7;
}

aside h3{
    padding: 20px 0px;
}
aside a{
    padding: 5px 0px;
    display: block;
    color: firebrick;
}
aside audio{
    width: 100%;
    padding: 20px;
}
aside video{
    width: 100%;
    padding: 20px 0px;
    border: 5px solid #bdc3c7;
}
section{
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #010107;

}


section figure caption{
    margin: 10px;
    text-align: center;
}
section video{
    width: 100%;
    margin: 10PX;
    border: 5px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color:grey;
    border: 5px solid #bdc3c7;
}
footer h3{
    margin-bottom: 10px;
    color: white;
}
nav a :hover{
    border-radius: 20px;
}
aside a :hover{
    color: blue;
}
figure img{
    width: 100%;
}
h6{
    text-align: center;
}

