<<<<<<< HEAD
*{
    margin: 0px;
    border: 0px;
 
}

body {
    margin: 0px 0px 4px 0px;
    padding: 0px 0px 4px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(300deg, #070708 0%, #203A43 2.96%, #1a1e1f 100%);
}

nav {
    width: 100%;
    height: 70px;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
}

nav a img {
    padding-top: 5px;
    float: left;
    width: 100px;
    height: 50px;
    object-fit: cover;
=======

#contenedor{
    margin: 18px 11px 18px 15px;
    width: 98%;
    border-radius: 10px;
    padding: 3px 2px 1px 3px;
background-color: grey;
    
}
nav {
    width: 100%;
    height: 60px;
    float: left;
    background: #bdc3c7;
    margin-left: 0px;
    margin-bottom: 10px;
>>>>>>> 4264348b21e71011c1e116c21a2a615ff17a6a42
}

#menu {
    color: #bdc3c7;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
#inicio {
    color: #bdc3c7;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}
#inicio:hover {
    color: #ff3029;
>>>>>>> 8af3ec85f9a20156ca3fd52c807e1a823baaa15c
}



p{
    font-style: italic;
    color: brown;
    }
    
    header{
<<<<<<< HEAD
      
=======
        background-color: grey;
>>>>>>> 4264348b21e71011c1e116c21a2a615ff17a6a42
        padding: 2%;
    }
    header img{
    width: 100%;
    height: 400PX;
    }
   
    main{
        display: flex;
        background-color:rgb(218, 156, 42);
        text-align: center;
        border: 12px;
        margin: 10px 10px 10px 10px;
        color: grey;
        border-radius: 2%;
    }
    
    aside h2{
        text-align: center;
    }
    section{
        display: flex;
        width: 98.5%;
        background-color:rgb(218, 156, 42);
        margin: 0px 10px 10px 10px;
        border-radius: 2%;
    }
    section figure{
        width: 25%;
    }
    section figure img{
        width: 100%;
        height: 350px;
      
    }
    footer {
        background: #bdc3c7;
        width: 100%;
        height: 100px;
        float: left;
        padding-bottom: 7px;
    
    }
<<<<<<< HEAD
    footer center figure img {
        margin-top: 10px;
        width: 50px;
        
=======
    footer{
        background-color: grey;
>>>>>>> 4264348b21e71011c1e116c21a2a615ff17a6a42
    }
    figure img{
        padding-top: 4px;
        padding-left: 55px;
        padding-right: 55px;
        padding-bottom: 4px;
    }
     h1{
        text-align: center;
        color: black; 
        background-color: grey;
    }
<<<<<<< HEAD
 
    br{
        color: brown;
=======
    footer img{
        padding-left: 250px;
        padding-right: 80px;
        padding-top: 0px;
        padding-bottom: 0px;

    }
    h2{
        background-color: grey;
        color: #010107;
>>>>>>> 4264348b21e71011c1e116c21a2a615ff17a6a42
    }

  section figure figcaption{
      text-align: center;
  }
body{
    background-color: aqua;
}
figure figcaption a{
    color: #010107;
}